/* Abstract */
html,
body {
  background-color: #ffffff;
  width: 1080px;
  height: auto;
}

/* Bases */
.police {
  font-family: Montserrat, regular;
}

h1,
h2,
.sous-titre,
.st-gras {
  font-family: Montserrat, regular;
}

.sous-titre {
  font-size: 2rem;
  text-align: left;
  border-radius: 30px;
  background-color: #ffffff;
}

.st-gras {
  font-size: 3rem;
  text-align: right;
}

h2 {
  background-color: #674897;
  font-size: 1.875rem;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  font-family: Montserrat, regular;
  text-align: center;
  color: #b7af68;
}
.box-l h2 {
  color: black;
}
/* Layout */
header {
  background-color: #ffffff;
  display: flex;
  width: 1080px;
  height: 28rem;
}
section {
  padding: 1rem;
}

.tete {
  position: absolute;
  top: 10px;
  width: 24rem;
  height: 24rem;
  margin: 2rem;
  z-index: 6;
  border: none;
  -moz-border-radius: 250px;
  -webkit-border-radius: 250px;
  border-radius: 250px;
}
footer {
  background-color: #ebebeb;
  z-index: 5;
}

.mail ::before {
  content: "✉️";
  width: 1.5rem;
}

.tel::before {
  content: "📞";
  width: 1.5rem;
}

.linkedin::before {
  content: url();
  margin-right: 6px;
}

/* Contacter Section */
.contacter {
  text-align: left;
  background-color: #ebebeb;
  min-height: 10rem;
  padding-top: 9.4rem;
  margin-top: -9.3rem;
}
.c-contact {
  margin-left: 3rem;
}

.contacter h2 {
  background-color: #ebebeb;
  color: black;
}

/* Box Styling */

.box,
.box2 {
  display: flex;
}
.text-titre {
  display: flex;
  align-items: center;
}
.logo {
  margin-left: -30px;
  width: 55%;
  margin-top: 5rem;
}
.nom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 10px;
}
.st-placement {
  margin-top: 10px;
  align-self: flex-start;
}
.box,
.box-l,
.box-r,
.box2,
.box2-l,
.box2-r {
  text-align: left;
}

.box {
  width: 1080px;
  height: 700px;
  display: flex;
}

.box-l {
  text-align: left;
  width: 40%;
  flex: 2;
  margin: 1rem;
  padding-top: 7rem;
  margin-top: 4px;
  margin-bottom: -142px;
  color: white;
}

.box-r {
  text-align: left;
  width: 60%;
  flex: 3;
}

.box-r h2 {
  margin-left: -2rem;
}

.box2 :first-child {
  align-self: auto;
}

.box2-l {
  text-align: left;
  width: 40%;
  flex: 2;
}

.box2-r {
  text-align: left;
  width: 60%;
  flex: 3;
}

.box-l {
  background: #674897;
}

/* Styling */
h1 {
  margin-top: 2rem;
  margin-bottom: -1.7rem;
  font-size: 4.5rem;
  font-family: Montserrat, regular;
  color: #674897;
  background-color: #fff;
}
.castex::first-letter {
  color: #b7af68;
}
h2 footer {
  color: #ebebeb;
}

.box-r .fond-gris {
  background-color: #ebebeb;
  border-radius: 30px;
  font-family: Montserrat, regular;
  padding: 0.3rem;
}

.rectangle-pointu {
  position: relative;
}

.rectangle-pointu_orange {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 210px solid transparent;
  border-right: 210px solid transparent;
  border-top: 150px solid #674897;
  bottom: 1rem;
}

.rectangle-pointu_blanc {
  width: 0;
  height: 0;
  border-left: 210px solid transparent;
  border-right: 210px solid transparent;
  border-top: 150px solid #ffffff;
  margin-top: 0.85rem;
}

.top_img {
  position: relative;
}

.rectangle-pointu_noir {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 210px solid transparent;
  border-right: 210px solid transparent;
  border-top: 150px solid #23272a;
  margin-top: -16px;
  margin-left: 16px;
  bottom: -8.6rem;
}

.rectangle_noir {
  min-width: 420px;
  height: 420px;
  background-color: #23272a;
  margin: 1rem;
}

.rectangle-pointu_blanc_top {
  width: 0;
  height: 0;
  border-left: 210px solid transparent;
  border-right: 210px solid transparent;
  border-top: 150px solid #ffffff;
  margin-left: 16px;
}
h2 .box-l {
  color: black;
}
.box2-r ul {
  list-style-type: none;
}
.AD {
  margin-top: 20px;
  padding-left: 20px;
  color: #b7af68;
}
.-- {
  color: black;
}
li.K {
  background-image: url("/images/krita-icon.png");
  background-size: 20px;
  background-repeat: no-repeat;
  padding-left: 23px;
}

li.HC {
  background-image: url("/images/icone-html.png");
  background-size: 20px;
  background-repeat: no-repeat;
  padding-left: 23px;
}

li.WP {
  background-image: url("/images/WordPress\ Black.png");
  background-size: 30px;
  background-repeat: no-repeat;
  padding-left: 28px;
}

li.IL {
  background-image: url("/images/icon-illustrator.png");
  background-size: 20px;
  background-repeat: no-repeat;
  padding-left: 23px;
}

li.IN {
  background-image: url("/images/icon-indesign.png");
  background-size: 20px;
  background-repeat: no-repeat;
  padding-left: 23px;
}

li.PH {
  background-image: url("/images/icon-photoshop.png");
  background-size: 20px;
  background-repeat: no-repeat;
  padding-left: 23px;
}
